<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AIRS - AI Resume Screener</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
</head>
<body>

<header>
    <h1>AIRS</h1>
    <p>AI Resume Screening System</p>
</header>

<div class="container">

    <textarea id="resume" placeholder="Paste Resume..."></textarea>

    <textarea id="job" placeholder="Paste Job Description..."></textarea>

    <button onclick="analyze()">Process</button>

    <div id="result-box">
        <h3>Result</h3>
        <p id="result">Your result will appear here...</p>
    </div>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>